fastapi==0.115.12
uvicorn==0.34.1
python-multipart==0.0.20
pydantic==2.11.3
pydantic-settings==2.8.1
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
python-jose==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.2.0
httpx==0.28.1
easyocr==1.7.2
